* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(206, 193, 151);
    border-radius: 10px;
    font-family: 'Gemunu Libre', sans-serif;
}

header {
    min-height: 20vh;
    background-color: rgb(255, 221, 169);
    padding: 50px;
}

:link {
    font-family: 'Alkalami', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

@media screen and (max-width:900px) {
    nav {
        flex-direction: column;
    }


    nav ul {
        flex-direction: column;
    }
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 90px;
}

#nom_produit {
    font-family: 'Oswald', sans-serif;
}

.montre {
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-between;
   justify-content: space-around;
}

h3 {
    text-decoration: underline;
    font-size: 45px;
    margin-left: 8%;
}

p {
    padding: 10%;
}

#texte {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    border: 3px rgb(223, 192, 145);
}